<% include('../layouts/header.ejs') %>

<h1>welcome , <%= user.name %></h1>

<table>
    <tr>
        <td><img src="userImages/<%= user.name %>" alt="" </td>
        
    </tr>
    <tr>
        <td>Email</td>
        <td><%= user.email %></td>
    </tr>
    <tr>
        <td>mobile</td>
        <td><%= user.mobile %></td>
    </tr>
    <tr>
        <td>verified</td>
        <td><%
            if(user.is_varified == 1){
                %>
                <p>true</p>
                <%
            }
            %></td>
    </tr>
</table>




a <a href="/logout">logout</a>

<% include('../layouts/footer.ejs') %>